
<div id="indexpage">

    <h2 style=" margin-top:  100px;"> ToDo Application</h2>
    <br />
    <br />
    <button class=" btn btn-block">@Html.ActionLink("Click Here To Registration", "register")</button>
    <button class=" btn btn-block">@Html.ActionLink("Click Here To Login", "login")</button>
</div>





